* {
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 
}
body {
  background: url(./images/background.jpg);
}
img {
  height: 50px;
}
#navbar {
  cursor: pointer;
  display: flex;
  height: 48px;  
  align-items: center;
  border-bottom: 2px solid white;
}
.left {
  display: flex;
  width: 50vw;
}
.search-box {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#input-box {
  height: 30px;
  border-radius: 20px;
  color: white;
  border: none;
}
#search-button {
  position: relative;
  height: 31px;
  border-radius: 20px;
  right: 38px;
  border: none;
  color: rgb(0, 0, 0); 
}
.right {
  color: aliceblue;
  display: flex;
  width: 50vw;
  flex-flow: wrap row-reverse;
  margin-right: 5px;
  justify-content: end;
  align-items: center;
}
#login-signup {
  padding: 2px;
  color: black;
  background-color: rgb(169, 229, 38);
  border-radius: 10px;
  border-style: groove rgb(169, 229, 38);
}
ul {
  margin: 0px;
  display: flex;
  list-style-type: none;
  gap: 15px;
}
#navbar-2 {
  display: flex;
  justify-content: space-around;
  color: aliceblue; 
}
#sensex:hover {
  font-size: 25px;
  transition: 0.5s;
  transition: 0.5s;
  color: rgb(248, 248, 248);
}
#nifty50:hover {
  font-size: 25px;
  transition: 0.5s;
  transition: 0.5s;
  color: rgb(248, 248, 248);
}
#banknifty:hover {
  font-size: 25px;
  transition: 0.5s;
  transition: 0.5s;
  color: rgb(248, 248, 248);
}
#finnifty:hover {
  font-size: 25px;
  transition: 0.5s;
  transition: 0.5s;
  color: rgb(248, 248, 248);
}
#niftyit:hover {
  font-size: 25px;
  transition: 0.5s;
  transition: 0.5s;
  color: rgb(248, 248, 248);
}
#niftypharma:hover {
  font-size: 25px;
  transition: 0.5s;
  transition: 0.5s;
  color: rgb(248, 248, 248);
}
.container {
  display: flex;
  height: 16em;
  width: auto;
  color: aliceblue;
  border: 1px solid whitesmoke;
}
.nifty50-box {
  width: 20%;
  border: 1px solid whitesmoke;
}
.banking-box {
  width: 20%;
  border: 1px solid whitesmoke;
}

.it-box {
  width: 20%;
  border: 1px solid whitesmoke;
}
.finance-box {
  width: 20%;
  border: 1px solid whitesmoke;
}
.pharma-box {
  width: 20%;
  border: 1px solid whitesmoke;
}
.header {
  display: flex;
  height: 1.5em;
  font-size: 18px;
  font-weight: 500;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 2px solid whitesmoke;
  color: white;
}
.otherinfo {
  color: whitesmoke;
}
.other-info {
  height: 20px;
}
#info-section {
  color: aliceblue; 
  display: flex;
  flex-flow: row wrap;
  margin: 5px;
  padding:5px;
  
}
#info-section img{
  height: 8em;
  border-radius: 50%;
  margin: 5px;
  padding: 5px; 
}
h3{
  text-align: center;
  margin-top: 10px;
}
#info {
  color: white; 
  width: 35em;
  padding: 10px;
  text-align: justify;
}
#company-info {
  color: white;
  height: 25px;
  width: 8em;
  margin-left:15px;
  padding: 10px;
}
#resources {
  color: white;
  height: 25px;
  width: 8em; 
  margin-left:15px;
  padding: 10px;
}
/* #information {
  color: white;
  height: 25px;
  width: 5em;
  padding: 10px;
} */
#support {
  color: white;
  height: 25px;
  width: 8em;
  margin-left:15px;
  padding: 10px;
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: gray;
  cursor: pointer;

}
.footer-section{
  display: flex;
  color: white;  
  align-items: center;
  margin-left: 5px;
}
#copyright{
display: flex;
padding: 5px;
align-items: center;
}
#copyright p{
display: flex;
padding: 10px;
align-items: center;
}
#terms{
display: flex;
padding: 5px;
align-items: center;
}
#terms a{
display: flex;
padding: 10px;
align-items: center;
}
@media screen(max-width: 576px){
  .collapse{
    overflow: hidden;
  }
  
}